In [83]:
import pandas as pd
import requests
import numpy as np
from tqdm import tqdm
from time import sleep
import joblib

In [91]:
df = pd.read_excel('wide_answers.xlsx')

In [92]:
number_to_service = df.groupby('№ услуги').sample()[['№ услуги', 'Сокращенное наименование услуги']][:-1]

In [93]:
df2 = pd.DataFrame([['700.00.01', 'Зачисление в образовательное учреждение'],
                     ['700.00.02', 'Зачисление в образовательное учреждение']], columns=number_to_service.columns)
number_to_service = pd.concat([number_to_service, df2])

In [94]:
number_to_service.index = number_to_service['№ услуги'].astype(str)

In [99]:
number_to_service.drop(columns=['№ услуги'], inplace=True)

In [100]:
number_to_service

                             Сокращенное наименование услуги
№ услуги
20         Ежемесячное пособие на ребенка-инвалида из сем...
24         Государственная социальная помощь малоимущим г...
27         Единовременное пособие беременной жене военнос...
28               Единовременное пособие при рождении ребенка
30         предоставления мер социальной поддержки в виде...
...                                                      ...
26.00.01   Единовременное пособие выпускникам образовател...
511.00.01                           Зачисление в детский сад
65.00.01   Оказание экстренной социальной помощи жителям ...
700.00.01            Зачисление в образовательное учреждение
700.00.02            Зачисление в образовательное учреждение

[67 rows x 1 columns]

In [101]:
number_to_service.loc["30"]

Сокращенное наименование услуги    предоставления мер социальной поддержки в виде...
Name: 30, dtype: object

In [102]:
import re

In [144]:
text1 = 'Какие основания для получения услугe 30?'

pattern1 = r"(услуг[а-я]* \d+)"
re.findall(pattern1, text1)

[]

In [136]:
def rename_service(text1):
    pattern1 = r"(услуг[а-я]* \d+|\d+ услуг[а-я]*)"
    pattern2 = r"(услуг[а-я]* \d+\.\d+\.\d+|\d+\.\d+\.\d+ услуг[а-я]*)"
    
    matches1 = re.findall(pattern1, text1)
    matches2 = re.findall(pattern2, text1)

    final_text = text1
#     try:
    if matches2:
        a2 = re.findall(r'\d+\.\d+\.\d+', matches2[0])
        if a2:
            a2 = a2[0]
            regex2 = re.compile(pattern2)
            service_name = number_to_service.loc[a2].values[0][0]
            final_text += f" {matches2[0]} - это {service_name}."

    elif matches1:
        a1 = re.findall(r'\d+', matches1[0])
        if a1:
            a1 = a1[0]
            regex1 = re.compile(pattern1)
            service_name = number_to_service.loc[a1].values[0]
            final_text += f" {matches1[0]} - это {service_name}."
#     except:
#         pass
        

    return final_text

In [137]:
rename_service(text1)

'Какие основания для получения услугe 30?'

In [42]:
number_to_service.loc[a2].values[0][0]

'Оказание экстренной социальной помощи жителям Санкт-Петербурга  Экстренная социальная помощь'

In [ ]:
pattern = r"(услуг[а-я]* \d|\d услуг[а-я]*)"

matches = re.findall(pattern, text)